<div class="row">
    <div class='form-group col-md-12'>
        <label>Slides Address</label>
        {{input class = 'form-control'
                placeholder = 'ex. http://www.slideshare.net/dmethvin/state-of-j-query-june-2013-1-22939982'
                value = deck.url
                action = 'addDeck'}}

        <div class="help-block">
            {{#if deck.validationState}}
                {{validation-message validationState=deck.validationState}}
            {{else}}
                    Supported sites:
                    <a target='_blank' href="https://speakerdeck.com/">
                        Speaker Deck
                    </a>,
                    <a target='_blank' href="http://www.slideshare.net">
                        SlideShare
                    </a>,
                    <a target='_blank' href="https://support.google.com/drive/answer/126127?hl=en&ref_topic=19431">
                        Google Drive
                    </a>, or
                    <a target='_blank' href="http://slid.es/">
                        Slid.es
                    </a>
                    .
                    <br>(Vertical & fragment slides are not supported for Slid.es.)
            {{/if}}
        </div>
    </div>
</div>

<div class='row'>
    {{#if deck.valid}}
        <div class='form-group col-md-7'>
            <label>Video/Audio Address</label>
            {{input class = 'form-control'
                    placeholder = 'ex. http://www.youtube.com/watch?v=BPkP9Vq46-4'
                    value = media.url
                    action = 'addVideo'}}

            <div class="help-block">
                {{#if media.validationState}}
                    {{validation-message validationState=media.validationState}}
                {{else}}
                    Supported sites:
                        <a target='_blank' href="http://www.youtube.com">
                            YouTube
                        </a>,
                        <a target='_blank' href="https://vimeo.com/">
                            Vimeo
                        </a>,
                        <a target='_blank' href="https://soundcloud.com/">SoundCloud</a>
                {{/if}}
            </div>
        </div>
    {{/if}}
</div>

<div class="row">
    <div class='form-group col-md-12'>
        <button class='btn btn-success' {{action 'submitUrls'}}>Go</button>
    </div>

    <div class="form-group col-md-12">
        <a class='btn btn-default' {{action 'addTestingUrls'}}>TESTING</a>
    </div>
</div>
