<div class="row">
    <div class='form-group col-md-12'>
        <label>Slides Address</label>
        {{input class = 'form-control'
                placeholder = 'ex. https://speakerdeck.com/addyosmani/decoupling-javascript-vs-the-world'
                value = deck.url
                action = 'addDeck'}}

        <div class="help-block">
            {{#if deck.validationState}}
                {{validation-message validationState=deck.validationState}}
            {{else}}
                    Supported sites:
                    <a href="https://speakerdeck.com/">
                        Speaker Deck
                    </a>,
                    <a href="http://www.slideshare.net">
                        SlideShare
                    </a>
            {{/if}}
        </div>
    </div>
</div>

<div class='row'>
    {{#if deck.valid}}
        <div class='form-group col-md-7'>
            <label>Video/Audio Address</label>
            {{input class = 'form-control'
                    placeholder = 'ex. http://vimeo.com/44100359'
                    value = media.url
                    action = 'addVideo'}}

        <div class="help-block">
            {{#if media.validationState}}
                {{validation-message validationState=media.validationState}}
            {{else}}
                Supported sites:
                    <a href="http://www.youtube.com">
                        YouTube
                    </a>,
                    <a href="https://vimeo.com/">
                        Vimeo
                    </a>,
                    <a href="https://soundcloud.com/">SoundCloud</a>
            {{/if}}
        </div>
    {{/if}}
</div>

<div class="row">
    <div class='form-group col-md-12'>
        <button class='btn btn-success' {{action 'submitUrls'}}>Go</button>
    </div>

    <div class="form-group col-md-12">
        <a class='btn btn-default' {{action 'addTestingUrls'}}>TESTING</a>
    </div>
</div>
