<div class="row">
    <form>
        <h4>Copy and paste the website addresses here</h4>
        <div class='form-group'>
            {{input class = 'form-control'
                    placeholder = 'Slides URL'
                    value = deckUrl
                    focus-out = 'addDeck'
                    action = 'addDeck'}}

            {{validation-message validationState=deck.validationState}}
        </div>

        {{#if deck.valid}}
            <div class='form-group'>
                {{input class = 'form-control'
                        placeholder = 'Video URL'
                        value = videoUrl
                        focus-out = 'addVideo'
                        action = 'addVideo'}}

            {{validation-message validationState=video.validationState}}
            </div>
        {{/if}}

        {{#if urlError}}
            <span class="alert alert-danger">
                {{urlError}}
            </span>
        {{/if}}

        <div class='form-group'>
            <button class='btn btn-default' type='submit'>Go</button>
        </div>
    </form>
</div>

