<div class="row">
    <h4>Paste the website address here</h4>
    <div class='form-group'>
        {{input class = 'form-control'
                placeholder = 'Slides Website Address'
                value = deck.url
                action = 'addDeck'}}

        {{validation-message validationState=deck.validationState}}
    </div>

    {{#if deck.valid}}
        <div class='form-group'>
            {{input class = 'form-control'
                    placeholder = 'Video Website Address'
                    value = video.url
                    action = 'addVideo'}}

        {{validation-message validationState=video.validationState}}
        </div>
    {{/if}}

    {{#if urlError}}
        <span class="alert alert-danger">
            {{urlError}}
        </span>
    {{/if}}

    <div class='form-group'>
        <button class='btn btn-success' {{action 'submitUrls'}}>Go</button>
    </div>
{{!--
    <div class="form-group">
        <a class='btn btn-default' {{action 'addTestingUrls'}}>TESTING</a>
    </div> --}}
</div>

