<div class="row form-group">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <label>
                    Slide #
                    <span class='hint--right' data-hint="Before pressing the 'Add Slide' button, set your video/audio to the slide's start time.">
                        <span class="glyphicon glyphicon-info-sign">
                        </span>
                    </span>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type = 'button'
                                class = 'btn btn-success'
                                {{action 'addSequence'}}>
                            Add Slide
                        </button>
                    </span>
                </div>
            </div>

            <div class="col-md-5">
                {{deck-controls slide=slide}}
            </div>

            <div class="col-md-4">
                {{view Ember.Select class = 'form-control'
                                    content = slideOptions
                                    value = selectedSlideOption
                                    prompt = 'Other Options'}}
            </div>
        </div>
    </div>
</div>

{{#tab-content class = "row form-group"
               tabName = 'Full Video'
               activeTab = selectedSlideOption}}
    <div class="col-md-12">
        <label>
            Full Screen Video Mode
            <span class="hint--right" data-hint='Sets when your video will go in and out of full screen mode.'>
                <span class="glyphicon glyphicon-info-sign">
                </span>
            </span>
        </label>

        <div class="row">
            <div class="col-md-12">
                <span class="input-group-btn">
                    {{#if videoMode}}
                        <button class="btn btn-warning"
                                {{action 'toggleFullVideo'}}>
                            Set OFF
                        </button>
                    {{else}}
                        <button class="btn btn-info"
                                {{action 'toggleFullVideo'}}>
                            Set ON
                        </button>
                    {{/if}}
                </span>
            </div>
        </div>
    </div>
{{/tab-content}}

{{#tab-content class = "row form-group"
               tabName = 'External Website'
               activeTab = selectedSlideOption}}
    <div class="col-md-12">
        <label>
            External Website
            <span class="hint--right" data-hint="Display another website as a frame at this time point.">
                <span class="glyphicon glyphicon-info-sign">
                </span>
            </span>
        </label>

        <div class="row">
            <div class="col-md-12">
                <div class="input-group">
                    {{input class = 'form-control'
                            value = site
                            action = 'addSite'}}

                    <span class="input-group-btn">
                        <button class="btn btn-info btn"
                                {{action 'addSite'}}>
                            Add Site
                        </button>

                        <button {{bind-attr class=":btn :btn-warning siteMode::invisible"}}
                                {{action 'removeSite'}}>
                            Remove Site
                        </button>

                        <p>This will only work for sites that allow embedding into other websites.</p>
                    </span>
                </div>
            </div>
        </div>
    </div>
{{/tab-content}}

{{#tab-content class = "row form-group"
               tabName = 'Playback Controls'
               activeTab = selectedSlideOption}}
    <div class="col-md-12">
        <label>
            Playback Controls
            <span class="hint--right" data-hint='Controls the video playback.'>
                <span class="glyphicon glyphicon-info-sign">
                </span>
            </span>
        </label>

        <div class="row">
            <div class="col-md-12">
                <span class="input-group-btn">
                    <button class="btn btn-warning"
                            {{action 'addPause'}}>
                        Add Pause
                    </button>
                    <p>This will add "Pause" and "Pause Off" time points separated by 0.4ms. If you need to remove the pause, remove both time points.</p>
                </span>
            </div>
        </div>
    </div>
{{/tab-content}}

{{#tab-content class = "row form-group"
               tabName = 'Presentation Mode'
               activeTab = selectedSlideOption}}
    <div class="col-md-12">
        <label>
            Presentation Mode
            <span class='hint--right' data-hint="Turning on Presentation Mode will cause the slides to follow the slide sequence while you are setting your times.">
                <span class="glyphicon glyphicon-info-sign">
                </span>
            </span>
        </label>

        <div class="row">
            <div class="col-md-12">
                {{toggle-switch action='changePresentationMode'}}
            </div>
        </div>
    </div>
{{/tab-content}}

