<h4>Time Your Slides</h4>

<div>
    <label>Time set to</label>
    <em>{{format-seconds newSequence.start}}</em>
</div>

<div class='input-group sequence-start-input'>
    {{input class = 'form-control'
            value = newSequence.start
            placeholder = 'seconds'}}
    <span class="input-group-btn">
        <button class="btn btn-default"
                {{action 'setSequenceTime'}}>
            Now
        </button>
    </span>
</div>

<div class='form-group'>
    {{#if deckView}}
        <label>Slide Number</label>
        {{deck-controls deckView = deckView
                        slide = newSequence.slide
                        setPlayer = 'setDeckPlayer'}}
    {{/if}}
</div>

<div>
    <button type='button' class='btn btn-info' {{action 'setSequence'}}>
        a) Set Time & Slide
    </button>

    <button type='button' class='btn btn-success' {{action 'addSequence'}}>
        b) Add Sequence
    </button>
</div>
