<table>
    <tr>
        <th>Time</th>

        {{#if showSeconds}}
        <th>(seconds)</th>
        {{/if}}

        <th>Slide</th>
        <th></th>
    </tr>

    {{#each}}
        {{#if isEditing}}
            {{partial 'sequence/edit'}}
        {{else}}
            {{partial 'sequence/view'}}
        {{/if}}
    {{/each}}
</table>

{{#if showUrl}}
    <br>
    Presentation URL: {{input value=url}}
    <a target='_blank' {{bind-attr href='presentation.path'}}>Preview</a>

    <br>
    Shortened URL:
    {{#if shortUrl}}
        {{input value=shortUrl}}
    {{else}}
        <button {{action 'shortenUrl'}}>Get is.gd URL</button>
    {{/if}}

{{/if}}
