<div class='tr row' {{bind-attr class='isPast:past'}}>
    <div class='td col1'>
        <a href="#" {{action 'skipTo' start}}>
            {{format-seconds start}}
        </a>
    </div>

    <div class='td col2'>
        {{start}}
    </div>

    <div class='td col3'>
        {{slide}}
    </div>

    <div class='td col4'>
        <button {{action 'edit'}}>Edit</button>
    </div>
</div>
