<div id = 'slide-wrapper'
     {{bind-attr class = ":deck-wrapper siteMode:hide"}}>

    <span id='pointer'
          class="glyphicon glyphicon-arrow-up hide">
    </span>

    {{#if iframe}}
        {{slide-iframe endpoint = slideEndpoint
                       firstIndex = firstIndex
                       slide = slide}}
    {{else}}
        {{slide-image endpoint = slideEndpoint
                      firstIndex = firstIndex
                      deck  = this}}

        {{slide-image endpoint = slideEndpoint
                      firstIndex = firstIndex
                      deck = this
                      hidden = true}}
    {{/if}}
</div>


{{site-iframe class = 'deck-wrapper'
              show = siteMode
              src = site}}
