{{popcorn-video id  = 'video-view'
                src = video.url
                action = 'updateSequence'}}
<hr>
{{currentSequence.slide}} {{time}}
<hr>

<ul>
{{#each s in sequences}}
    <li>
        {{s.slide}}
        {{s.start}}
        {{s.stop}}
    </li>
{{/each}}
</ul>

