<div class="left-bar fl">
    {{slidedeck-deck docId = deck.docId
                     action = 'setSlidePlayer'}}
</div>

<div class='right-bar fr'>
    <div class='sm-player'>
        {{popcorn-video id  = 'video-view'
                        src = video.url
                        start = video.start
                        action = 'updateSequence'
                        setPlayer = 'setVideoPlayer'}}
    </div>

    <div class="details fl">
        <table>
            <tr>
                <th>Time</th>
                <th>Slide</th>
                <th></th>
            </tr>
        {{#each s in sequences itemController='sequence'}}
            {{#if isEditing}}
                {{partial 'sequence/edit'}}
            {{else}}
                {{partial 'sequence/view'}}
            {{/if}}
        {{/each}}
        </table>

        {{#if editMode}}
            URL: {{input value=url}}
            <br>
            <a {{bind-attr href='url'}}>{{url}}</a>
        {{/if}}
    </div>

    <div class="nav fr">
        <a href="#" {{action 'toggleEdit'}}>
            Edit Mode
        </a>
    </div>
</div>
