<div class="left-bar fl">
    {{slidedeck-deck deckId = deck.deckId
                     action = 'setSlidePlayer'}}
</div>

<div class='right-bar fr'>
    <div class='sm-player'>
        {{popcorn-video id  = 'video-view'
                        src = video.url
                        action = 'updateSequence'
                        setPlayer = 'setVideoPlayer'}}
    </div>

    <div class="details">
        <table>
            <tr>
                <th>Time</th>
                <th>Slide</th>
            </tr>
        {{#each s in sequences}}
            <tr>
                <td>
                    <a href="#" {{action 'skipTo' s.start}}>
                        {{format-seconds s.start}}
                    </a>
                </td>
                <td>
                    {{s.slide}}
                </td>
            </tr>
        {{/each}}
        </table>
    </div>
</div>
