<div class="presentation">
    {{popcorn-video id  = 'video-view'
                    src = video.url
                    action = 'updateSequence'}}
    {{slidedeck-deck deckId = deck.deckId
                     action = 'setFlashPlayer'}}
</div>

<hr>
{{currentSequence.slide}} - {{format-seconds time}} - {{time}}s
<hr>

<ul>
{{#each s in sequences}}
    <li>
        {{s.slide}}
        {{format-seconds s.stop}}
    </li>
{{/each}}
</ul>
