<div id="media-view">
  {{#if youtube}}
      {{youtube-video media = content}}
  {{/if}}

  {{#if soundcloud}}
      {{popcorn-media id = 'audio-view'
                      media = content}}
  {{/if}}
</div>

{{#if editMode}}
    {{input-slider action ='scrubHigh'}}
    {{input-slider action ='scrubMedium'}}
    {{input-slider action ='scrubLow'}}
{{/if}}
