<div id="media-view">
  {{#if youtube}}
    {{youtube-video media=content}}
  {{/if}}

  {{#if vimeo}}
    {{vimeo-video media=content}}
  {{/if}}

  {{#if soundcloud}}
    {{soundcloud-audio media=content}}
  {{/if}}
</div>

{{#if editMode}}
  {{input-slider value = scrubHighValue
                 action = 'scrubHigh'}}
  {{input-slider value = scrubMediumValue
                 action = 'scrubMedium'}}
  {{input-slider value = scrubLowValue
                 action = 'scrubLow'}}
{{/if}}
