<div>
    <form {{action 'addChild' 'deck' on='submit'}}>
        <label>
            SlideShare URL
            {{input value=deckUrl}}
        </label>
        <button type='submit'>Get Slides</button>
    </form>
    {{deck.error}}
    {{urlError}}
</div>

<div>
    <form {{action 'addChild' 'video' on='submit'}}>
        <label>
            YouTube URL
            {{input value=videoUrl}}
        </label>
        <button type='submit'>Get Video</button>
    </form>
    {{video.error}}
</div>

{{#if video.valid}}
    <div>
        <label>
            Video start time (sec)
            {{input value=video.start}}
        </label>

        ({{format-seconds video.start}})
    </div>

    {{popcorn-video id  = 'video-view'
                    src = video.url
                    start = video.start
                    action = 'setTime'
                    setPlayer = 'setVideoPlayer'}}

{{/if}}

{{#if deck.valid}}
    {{slidedeck-deck docId = deck.docId
                     action = 'setDeckPlayer'}}
{{/if}}

{{#if showSequence}}
    <h2>
        Add a new sequence
    </h2>

    {{#with newSequence}}
    <div>
        <label>
            Start time
            {{input value=start}}
            {{format-seconds start}}
        </label>
    </div>

    <div>
        <label>
            Slide #
            {{input value=slide}}
        </label>
    </div>

    <div>
        <button {{action 'setSequence'}}>
            Set Time and Slide
        </button>
        <button {{action 'addSequence'}}>
            Add Sequence
        </button>
    </div>
    {{/with}}

    {{outlet sequences}}
{{/if}}
