{{#unless validUrls}}
    <div id='new-form' class='modal'>
        <div class="model-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Create A New Presentation</h3>
                </div>
                <div class="modal-body">
                    {{partial 'new/_modal'}}
                </div>
            </div>
        </div>
    </div>
{{/unless}}

{{#if validUrls}}
    <div class="row">
        <div class="col-md-12" id='video'>
            {{outlet video}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-5" id='deck'>
            {{outlet deck}}
        </div>

        <div class="col-md-7 tabs">
            <div class="row">
                <ul class="nav nav-tabs">
                    {{#tab-li tabName = 'slides'
                              activeTab = activeTab
                              action = 'changeTab'}}
                        <a>1. Slides</a>
                    {{/tab-li}}

                    {{#tab-li tabName = 'links'
                              activeTab = activeTab
                              action = 'changeTab'}}
                        <a>2. Finish</a>
                    {{/tab-li}}
                </ul>
            </div>

            <div class="row">
                {{#tab-content tabName = 'slides'
                               activeTab = activeTab}}
                    <div class="col-md-4">
                        {{partial 'new/_sequence_form'}}
                    </div>

                    <div class="col-md-7 col-md-offset-1">
                        <h4>Slide Sequence</h4>
                        {{partial 'sequence/index'}}
                    </div>
                {{/tab-content}}

                {{#tab-content tabName = 'links'
                               activeTab = activeTab}}
                    {{partial 'new/_urls'}}
                {{/tab-content}}
            </div>
        </div>
    </div>
{{/if}}
