{{#unless validUrls}}
    <div id='new-form' class='modal'>
        <div class="model-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Create A New Presentation</h3>
                </div>
                <div class="modal-body">
                    {{partial 'new/_modal'}}
                </div>
            </div>
        </div>
    </div>
{{/unless}}

{{#if video.valid}}
    <div class='row'>
        {{popcorn-video id  = 'video-view'
                        src = video.url
                        start = video.start
                        action = 'setTime'
                        setPlayer = 'setVideoPlayer'}}

        {{input-slider action='scrubVideo'}}
    </div>
{{/if}}

<div class='row edit-bottom'>
    {{#if deck.valid}}
        <div class='col-md-5'>
            {{partial 'new/_deck'}}
        </div>
    {{/if}}

    {{#if validUrls}}
        <section class="col-md-7 tabs">
            <div class="row">
                <ul class="nav nav-tabs">
                    {{#tab-li tabName = 'slides'
                              activeTab = activeTab
                              action = 'changeTab'}}
                        <a>1. Slides</a>
                    {{/tab-li}}

                    {{#tab-li tabName = 'finish'
                              activeTab = activeTab
                              action = 'changeTab'}}
                        <a>2. Finish</a>
                    {{/tab-li}}
                </ul>
            </div>

            <div class="row">
                {{#tab-content tabName = 'slides'
                              activeTab = activeTab}}
                    <div class="row">
                        {{#if deckView}}
                            <div class="col-md-4">
                                {{partial 'new/_sequence_form'}}
                            </div>
                        {{/if}}

                        {{#if firstSequence}}
                            <div class="col-md-7 col-md-offset-1">
                                <h4>Slide Sequence</h4>
                                {{outlet sequences}}
                            </div>
                        {{/if}}
                    </div>
                {{/tab-content}}

                {{#tab-content tabName = 'finish'
                               activeTab = activeTab}}
                    {{partial 'new/_urls'}}
                {{/tab-content}}
            </div>
        </section>
    {{/if}}
</div>


