{{#unless validUrls}}
    <div id='new-form' class='modal'>
        <div class="model-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Create A New Presentation</h3>
                </div>
                <div class="modal-body row">
                    {{partial 'new/_modal'}}
                </div>
            </div>
        </div>
    </div>
{{/unless}}

{{#if validUrls}}
    <div class="row">
        <div class="col-md-12" id='media'>
            {{outlet media}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6" id='deck'>
            {{outlet deck}}
        </div>

        <div class="col-md-6 tabs">
            <div class="row">
                <ul class="nav nav-tabs">
                    {{#tab-li tabName = 'slides'
                              activeTab = activeTab
                              action = 'changeTab'}}
                        <a>1. Slides</a>
                    {{/tab-li}}

                    {{#tab-li tabName = 'links'
                              activeTab = activeTab
                              action = 'changeTab'}}
                        <a>2. Finish</a>
                    {{/tab-li}}
                </ul>
            </div>

            <div class="row">
                {{#tab-content tabName = 'slides'
                               activeTab = activeTab}}
                    <div class="col-md-5">
                        {{partial 'new/_sequence_form'}}
                    </div>

                    <div class="col-md-7 sequences-column">
                        <h4>Slide Sequence</h4>
                        {{partial 'sequence/index'}}
                    </div>
                {{/tab-content}}

                {{#tab-content tabName = 'links'
                               activeTab = activeTab}}
                    <div class="row">
                        <div class="col-md-12">
                            {{partial 'new/_urls'}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-pills nav-stacked">
                                <li>
                                    {{link-to 'Home' 'index' class='btn btn-primary'}}
                                </li>
                            </ul>
                        </div>
                    </div>
                {{/tab-content}}
            </div>
        </div>
    </div>
{{/if}}
