<div>
    SlideShare URL: {{input value=deckUrl enter='addDeck'}}
    <button {{action 'addChild' 'deck'}}>Get Slides</button>

    {{deck.error}}
</div>

<div>
    YouTube URL: {{input value=videoUrl enter='addVideo'}}
    <button {{action 'addChild' 'video'}}>Get Video</button>

    {{video.error}}
</div>

{{#if video.valid}}
    <div>
        Video start time (sec): {{input value=video.start}}
        ({{format-seconds video.start}})
    </div>

    {{popcorn-video id  = 'video-view'
                    src = video.url
                    start = video.start
                    action = 'setTime'
                    setPlayer = 'setVideoPlayer'}}

{{/if}}

{{#if deck.valid}}
    {{slidedeck-deck docId = deck.docId
                     action = 'setDeckPlayer'}}
{{/if}}

{{#if showSequence}}
    <h2>
        Add a new sequence
    </h2>

    {{#with newSequence}}
    <div>
        <label>
            Start time
            {{input value=start}}
            {{format-seconds start}}
        </label>
    </div>

    <div>
        <label>
            Slide #
            {{input value=slide}}
        </label>
    </div>

    <div>
        <button {{action 'setSequence'}}>
            Set Time and Slide
        </button>
        <button {{action 'addSequence'}}>
            Add Sequence
        </button>
    </div>
    {{/with}}

    {{outlet sequences}}
{{/if}}
