<div class="left-bar fl">
{{#if deck.valid}}
    {{#if deck.slideshare}}
        {{slidedeck-deck docId = deck.docId
                         action = 'setDeckPlayer'}}
    {{/if}}

    {{#if deck.speakerdeck}}
        {{speakerdeck-deck class='view-slides'
                           docId = deck.docId
                           action = 'setDeckPlayer'}}
    {{/if}}
{{/if}}
</div>

<div class='right-bar fr'>
    <div class='sm-player'>
        {{popcorn-video id  = 'video-view'
                        src = video.url
                        start = video.start
                        action = 'setTime'
                        setPlayer = 'setVideoPlayer'}}
    </div>

    <div class="details fl">
        {{outlet sequences}}
    </div>

    <nav class="fr">
        <ul>
            <li>
                {{link-to 'Edit' 'new'}}
            </li>
            <li>
                {{link-to 'Home' 'index'}}
            </li>
        </ul>
    </nav>
</div>
