{{#if validUrls }}
    <div class="row">
        <div class="col-md-9" id='deck-player-wrapper'>
            {{outlet deck}}
        </div>

        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    {{outlet video}}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {{partial 'sequence/index'}}
                </div>
            </div>

            <div class="row">
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        {{link-to 'Edit' 'new'}}
                    </li>
                    <li>
                        {{link-to 'Home' 'index'}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
{{else}}
    Fetching presentation...
{{/if}}
