<div class="table-responsive1 sequences-table scroll">
    <table class='table table-bordered'>
        <thead>
            <tr>
                <th>Time</th>
                <th>Slide</th>
                {{#if editMode}}
                    <th></th>
                {{/if}}
            </tr>
        </thead>

        <tbody>
        {{#each filteredContent itemController='sequence'}}
            <tr {{action 'skipTo' start}}
                {{bind-attr class='isPastSequence:past disabled'}}>
                <td>
                    {{#if editMode}}
                        {{format-seconds start true}}
                    {{else}}
                        {{format-seconds start false}}
                    {{/if}}
                </td>
                <td>
                    <div class="sequence-slide">
                        {{format-slide this}}
                    </div>
                </td>
                {{#if editMode}}
                    <td>
                        <a class='btn btn-danger btn-xs' {{action 'destroy'}}>Remove</a>
                    </td>
                {{/if}}
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
